@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

* {
    /* font-family: 'Fira Sans','Lucida Sans', 'Gill Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode','Trebuchet MS', Calibri, Geneva, sans-serif, Verdana; */
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
}

img{
    border-radius: 10px;
}


img:hover{
    transform: scale(.96);
}

header{
    background: #002043;
    padding: 24px 24px;
    width: 100vw;
}

.cross {
    margin-left: 190px;
}

.mx-5 {
    margin: 0 20px;
}

.my-5 {
    margin: 20px 0;
}

.px-5 {
    padding: 0 20px;
}

.py-5 {
    padding: 20px 0;
}

.px-16 {
    padding: 0 64px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row-cols-1>* {
    flex: 0 0 auto;
    width: 100%;
}

.g-3 {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 1rem;
}

.col {
    flex: 1 0 0%;
}

.card {
    --card-height: ;
    height: var(--card-height);
    flex-direction: column;
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: 0.375rem;
}

.card-body{
    flex:1 1 auto;
    padding:1rem 1rem;
    color: #eee;
}
.card-title {
    margin-bottom: 0.5rem;
}

.card-text:last-child {
    margin-bottom: 0;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}