@media only screen and (max-width: 940px){    
    .navbar{
        flex-direction: column;
        transition: all 0.2s ease-out;
        height: 400px;
    }    
    .nav-list{
        flex-direction: column;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
    }    
    .burger{
        display:block;
    }
    .height-resp{
        height:40px;
    }
    .visibility-resp{
        opacity:0;
    }
    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
        padding: 76px 0;
    }
    .section{
        /* max-width: 100%; */
        flex-direction: column-reverse;
    }
    .reverse {
        /* max-width: 100%; */
        flex-direction: column-reverse;
    }
    .text-big{
        text-align:center;
    }
    .text-small{
        text-align:center;
    }
    .btn{
        text-align:center;
    }
    .paras{
        padding:0;
    }
/*here*/
    .form {
        max-width: 80%;
    }
}